<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toasts</title>
    <link rel="stylesheet" href="../../global-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">

<body>
    <div class="container my-5">
        <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded me-2" alt="...">
                    <strong class="me-auto">Bootstrap</strong>
                    <small>11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    </div>
    <script src="../../global-assets/js/bootstrap.bundle.js"></script>
</body>

</html>