<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popover</title>
    <link rel="stylesheet" href="../../global-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div class="container my-5">
        <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover"
            data-bs-placement="top" data-bs-content="Top popover">
            Popover on top
        </button>
        <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover"
            data-bs-placement="right" data-bs-content="Right popover">
            Popover on right
        </button>
        <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover"
            data-bs-placement="bottom" data-bs-content="Bottom popover">
            Popover on bottom
        </button>
        <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover"
            data-bs-placement="left" data-bs-content="Left popover">
            Popover on left
        </button>
    </div>
    <script src="../../global-assets/js/bootstrap.bundle.js"></script>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})
    </script>
</body>

</html>