<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Close Button</title>
    <link rel="stylesheet" href="../../global-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">

<body>
    <div class="container my-5">
        <button type="button" class="btn-close" aria-label="Close"></button>
        <div class="bground">
            <button type="button" class="bground btn-close btn-close-white" aria-label="Close"></button>
            <button type="button" class="bground btn-close btn-close-white" disabled aria-label="Close"></button>
        </div>
    </div>
    <script src="../../global-assets/js/bootstrap.bundle.js"></script>
</body>

</html>